<div class="container">
 
    <div class="col-md-10">

        <div class="row">

            <h2><i class="fa fa-1x fa-retweet"></i>AMI</h2>
            <hr>


            <p>Advanced metering infrastructure (AMI) is an integrated system of smart meters, communication networks
                and
                data management systems that
                enables two-way communication between utilities and customers.</p>
        </div>

    </div>
    <hr>
    <div class="row-fluid">
        <div class="img-thumbnail" style="width: 1000px; border-color: #12e1b6; max-height: 100%;">
        <div class="col-md-4 col-sm-4 ">
            <img src="images/services/AMI.png" alt="..." class=" " style="padding-left: 50px" >

        </div>
            </div>
         
        <hr>
        <div class="col-md-10">
            <div class="row">


                <p> The concentrator is a Central Processing Unit (CPU) for remote reading of electricity and water
                    meters. The
                    CPU communicates via Power Line
                    Communication (PLC) to the electricity meters and via Radio Frequency (RF) to the water meters. The
                    concentrator allows two-way
                    communication access to all meters and can have up to 400 meters connected to it.
                </p>
            </div>
            <hr>
            <div class="row">

                <h4><i class="fa fa-square fa-1x" style="color: #73bf45"></i>Meter Management</h4>
                <ul>
                    <li>No more manual reading of meters.</li>
                    <li>Accurate, real time readings.</li>
                    <li>Mobile access of information and control of electricity, water and gas.
                    </li>

                </ul>
            </div>

            <hr>

            <div class="row">
                <h4><i class="fa fa-square fa-1x" style="color: #73bf45"></i>Portfolio Management</h4>
                <ul>
                    <li>Centralized management system for an entire portfolio of properties.</li>
                    <li>The portfolio manager can monitor and manage properties individually, regionally or across the
                        entire portfolio.
                    </li>
                    <li>Controlled and gradual cut-off for non-payments.</li>

                </ul>
            </div>

            <hr>
            <div class="row">

                <h4><i class="fa fa-square fa-1x" style="color: #73bf45"></i>Savings & Recovery</h4>
                <ul>
                    <li>Controlled and gradual cut-off for non-payments.</li>
                    <li>Allows for faster outage detection and restoration of services.</li>


                </ul>
            </div>

            <hr>
            <div class="row">

                <h4><i class="fa fa-square fa-1x" style="color: #73bf45"></i>Alerts</h4>
                <ul>
                    <li>Tamper, bypass, leakage and power failure-reported via Email and SMS.</li>


                </ul>
            </div>

            <hr>
            <div class="row">

                <h4><i class="fa fa-square fa-1x" style="color: #73bf45"></i>Tenant Empowerment</h4>
                <ul>
                    <li>Tenants can access their usage data any time through the internet.</li>
                    <li>Tenants now have control of their own consumption.</li>


                </ul>
            </div>

            <hr>
            <div class="row">

                <h4><i class="fa fa-square fa-1x" style="color: #73bf45"></i>Carbon Emissions</h4>
                <ul>
                    <li>Accurate carbon emission reports.</li>
                    <li>Implementation of carbon reduction programs.</li>


                </ul>
                <hr>
            </div>


        </div>

    </div>
    </div>