<div class="container">
    <div class="col-md-10">

        <div class="row">
            <h3><i class="fa fa-building-o"></i> Commercial </h3>
            <hr>


            <div class="row">
                <div class="col-md-12">

                    <ul>
                        <li>Understand all electricity and water through a centralized property utility system.</li>
                        <li>Improve electricity and water management.</li>
                        <li>Improve revenue collection.</li>
                        <li>Manage tenants energy consumption.</li>
                        <li>Control and reduce fraud and faults.</li>
                        <li>Avoid overestimated bills.Cut cost and boost profit</li>


                    </ul>
                </div>

                <hr>

            </div>
            <div class="row">
                <div class="col-md-12">

                    <h4><i class="fa fa-square fa-1x" style="width: 16px; height: 16px"></i>Some of the Invirotel Commercial Services Include:</h4>
                    <ul>
                        <li>Meter management- Electricity and Water.</li>
                        <li>Portfolio management- Entire community.</li>
                        <li>Savings and recoveries- Revenue Control programs.</li>
                        <li>Vending management- End to end Vending Solution.</li>
                        <li>Billing management- Comprehensive accurate bills.</li>
                        <li>Reporting- Revenue enhancing control.</li>



                    </ul>
                </div>

                <hr>

            </div>
            <h4><i class="fa fa-square fa-1x" style="width: 16px; height: 16px"></i>Once off Costs</h4>
            <ul>
                <li>Audit of Hardware.</li>
                <li>Installation of Hardware.</li>

            </ul>

        </div>

        <h4><i class="fa fa-square fa-1x" style="width: 16px; height: 16px"></i>Monthly Costs (per meter per month)</h4>
        <ul>
            <li>AMI Software services - Meter management.</li>
            <li>Portfolio Management.</li>
            <li>Vending, Billing and Tariff Management.</li>
            <li>Profiling Reporting and Analysis.</li>
            <li>24/7 National Call Center Support.</li>

        </ul>

    </div>

</div>