<div class="container">
<div class="col-md-9">


    <div class="row">
        <h3><i class="fa fa-1x fa-map-marker"></i>Field Services</h3>



    </div>
    <hr>


    <div class="row">
        <div class="col-md-10"></div>
        <h4>Audit</h4>
        <ul>
            <li>Electrical and water assessments by qualified team.</li>
            <li>Pre-installation preparation.</li>
            <li>Installation plan and schedule.</li>



        </ul>
    </div>
    <hr>
    <div class="row">
        <div class="col-md-10"></div>
        <h4>Installation</h4>
        <ul>
            <li>Installation and commissioning of all hardware.</li>
            <li>Issuing of Certificate Of Compliance (C.O.C).</li>
            <li>Compliance with SANS 10142.</li>


        </ul>
    </div>
    <hr>
    <div class="row">
        <div class="col-md-10"></div>
        <h4>Support</h4>
        <ul>
            <li>24/7 National Call Center Help Desk.</li>
            <img src="..." alt="..." class="img-rounded">

        </ul>
    </div>
    <hr>



</div>

    </div>