<div class="row">
    <div class="col-md-3">

        <ul>
            <li>
                <a ui-sref="services.ami">AMI</a>
            </li>
            <li>
                <a ui-sref="services.vending">Vending,Billing & Tariff Management</a>
            </li>
            <li>
                <a ui-sref="services.profiling">Profiling, Reporting & Analysis </a>
            </li>
            <li>
                <a ui-sref="services.field">Field Services</a>
            </li>
            <li>
                <a ui-sref="services.consulting">Consulting Services</a>
            </li>
            <li>
                <a ui-sref="services.municipal">Municipal Solution</a>
            </li>
            <li>
                <a ui-sref="services.commercial">Commercial Solution</a>
            </li>
            <li>
                <a ui-sref="services.case">Case Study</a>
            </li>

        </ul>


    </div>
    <div class="col-md-9">
        <div ui-view="services-content" ng-animate="{enter : 'fade-enter'}"></div>
    </div>
</div>

