<div class="container">
<div class="col-md-10">


    <div class="row">
        <h3><i class="fa fa-1x fa-table"></i>Profiling, Reporting & Analysis</h3>
        <hr>
        <p>Pre-paid vending of electricity to INVIROTEL pre-paid meters is facilitated either by automatic remote charging of the meters by the vended
            amount or by the generation of STS compliant tokens.</p>

<div class="img-thumbnail" style="width: 1000px; border-color: #12e1b6">
        <img src="images/services/Circuit%20diagram.png" alt="..." class="img-rounded" style="padding-left: 50px">
</div>
    <hr>

    <div class="row">
        <div class="col-md-10"></div>
        <h4><i class="fa fa-square fa-1x"  style="color: #73bf45"></i>Profiling-Circuit and Appliance Monitoring</h4>
        <ul>
            <li>Measurement every 5 seconds or longer.</li>
            <li>Power, consumption, power factor, reactive energy,
                carbon emissions, frequency and voltage all measured.</li>
            <li>Individual circuits, lights and appliances all measured.</li>
            <li>Accurately identifying energy wasting circuits and appliances.</li>


        </ul>
    </div>

    <hr>
    <div class="row">
        <div class="col-md-10"></div>
        <h4><i class="fa fa-square fa-1x" style="color: #73bf45"></i>Reporting</h4>
        <ul>
            <li>Comprehensive secure automated reporting.</li>
            <li>Reports can be integrated.</li>
            <li>Scenario planning and budgeting.</li>


        </ul>
    </div>

    <hr>
    <div class="row">
        <div class="col-md-10"></div>
        <h4><i class="fa fa-square fa-1x" style="color: #73bf45"></i>Analysis</h4>
        <ul>
            <li>Powerful real time statistics through graphs and charts.</li>
            <li>Comprehensive and unique insight into consumption and billing.</li>
            <li>Load control and demand management.</li>
            <li>Accurate Carbon emission details.</li>

        </ul>
    </div>
    <hr>


</div>
    </div>
    </div>