<div class="container">
    <div class="col-md-10">

        <div class="row">
            <h3><i class="fa fa-1x fa-credit-card"></i>Vending,Billing & Tariff Management</h3>
            <hr>

            <div class="row">
                <div class="col-md-10">


                    <ul>
                        <li>End-to end solution.</li>
                        <li>Real time.</li>
                        <li>Comprehensive set of reporting.</li>
                        <li>Automatic remote or manual recharging.</li>
                        <li>XML Vend (If Required).</li>



                </ul>
                </div>
            </div>
            <hr>

            <div class="row">
                <div class="col-md-10"></div>
                <h4><i class="fa fa-square fa-1x" style="color: #73bf45"></i>Vending options include:</h4>
                <ul>
                    <li>Credit Card.</li>
                    <li>Internet purchases (EFT).</li>
                    <li>Mobile purchase (E-wallet).</li>
                    <li>Vouchers (STS).</li>
                    <li>Over the counter (Cash).</li>


                </ul>
            </div>

            <hr>
            <div class="row">
                <div class="col-md-10"></div>
                <h4><i class="fa fa-square fa-1x" style="color: #73bf45"></i>Invirotel Pricing Structure</h4>

                <p>INVIROTEL has a flexible and creative approach for funding municipal and other utility metering
                    projects.
                    The only activity, which needs to be priced, is the Pre-project plan Audit. After the Audit the
                    extent, scope and time-lines of the
                    project can be accurately estimated in order to ascertain real costs. Funding proposal is therefore
                    based on real on-site costs
                    and time-lines.
                </p>

                <hr>
                <h4><i class="fa fa-square fa-1x" style="color: #73bf45"></i>The following funding models are available:</h4>
                <ul>
                    <li>Total cost to Municipality.</li>
                    <li>Total funded solution paid over time from billed consumption and pre-paid vending.</li>
                    <li>Partially funded model. INVIROTEL can facilitate the funding of any projects of any scope and
                        duration.
                    </li>


                </ul>
                <hr>
            </div>


        </div>

    </div>
</div>