<div class="container">
    <form class="form-horizontal">
        <fieldset>

            <!-- Form Name -->
             <h3><i class="fa fa-sitemap"></i> Distributor / Agent</h3>
<hr>
            <!-- Text input-->
            <div class="form-group">
                <label class="col-md-4 control-label" for="textinput">Name</label>
                <div class="col-md-5">
                    <input id="textinput" name="textinput" type="text" placeholder=" " class="form-control input-md">

                </div>
            </div>
            <hr>

            <!-- Text input-->
            <div class="form-group">
                <label class="col-md-4 control-label" for="textinput">Surname</label>
                <div class="col-md-5">
                    <input id="textinput" name="textinput" type="text" placeholder="placeholder" class="form-control input-md">

                </div>
            </div>

            <hr>

            <!-- Text input-->
            <div class="form-group">
                <label class="col-md-4 control-label" for="textinput">Email</label>
                <div class="col-md-5">
                    <input id="textinput" name="textinput" type="text" placeholder="placeholder" class="form-control input-md">

                </div>
            </div>
<hr>
            <!-- Text input-->
            <div class="form-group">
                <label class="col-md-4 control-label" for="textinput">Name of Business</label>
                <div class="col-md-5">
                    <input id="textinput" name="textinput" type="text" placeholder="placeholder" class="form-control input-md">

                </div>
            </div>
<hr>
            <!-- Text input-->
            <div class="form-group">
                <label class="col-md-4 control-label" for="textinput">Nature of Business</label>
                <div class="col-md-5">
                    <input id="textinput" name="textinput" type="text" placeholder="placeholder" class="form-control input-md">

                </div>
            </div>
<hr>
            <!-- Select Basic -->
            <div class="form-group">
                <label class="col-md-4 control-label" for="selectbasic">Province</label>
                <div class="col-md-5">
                    <select id="selectbasic" name="selectbasic" class="form-control">
                        <option value="1">Province</option>
                        <option value="2">Eastern Cape</option>
                        <option value="">Free State</option>
                        <option value="">Gauteng</option>
                        <option value="">KwaZulu-Natal</option>
                        <option value="">Limpopo</option>
                        <option value="">Mpumalanga</option>
                        <option value="">Northern Cape</option>
                        <option value="">North West</option>
                        <option value="">Western Cape</option>
                    </select>
                </div>
            </div>
<hr>
            <!-- Select Basic -->
            <div class="form-group">
                <label class="col-md-4 control-label" for="selectbasic">Type of Business</label>
                <div class="col-md-5">
                    <select id="selectbasic" name="selectbasic" class="form-control">
                        <option value="1">Type</option>
                        <option value="2">Sole Proprietor</option>
                        <option value="">Partnership</option>
                        <option value="">Trust</option>
                        <option value="">CC</option>
                        <option value="">(Pty) Ltd</option>
                        <option value="">Ltd</option>
                    </select>
                </div>
            </div>
<hr>
            <!-- Button -->
            <div class="form-group">
                <label class="col-md-4 control-label" for="singlebutton"> </label>
                <div class="col-md-4">
                    <button id="singlebutton" name="singlebutton" class="btn btn-success">Submit</button>
                </div>
            </div>

        </fieldset>
    </form>

</div>