<div class="row">
    <div class="col-md-3">

        <ul>
            <li>
                <a ui-sref="tools.distributor">Become A Distributor</a>
            </li>
            <li>
                <a ui-sref="tools.downloads">Downloads</a>
            </li>
            <li>
                <a ui-sref="tools.concentrator">Concentrator</a>
            </li>


        </ul>


    </div>
    <div class="col-md-9">
        <div ui-view="tools-content" ng-animate="{enter : 'fade-enter'}"></div>
    </div>
</div>

