<div class="row">
    <h2><i class="fa fa-group"></i> About Us</h2>
    <hr>


    <p>EMS Invirotel Energy Management shareholders are Voltex (Pty) Ltd which is owned by the JSE
        Listed Bidvest Group of Companies and PDEV
        (Professional Development Institute) providing enterprise software development. Invirotel was
        established 5
        years ago in response to the growing
        need for smart energy management solutions locally and abroad. Invirotel was officially launched in 2011
        after 3 years of Research & Development.
        Invirotel was established for the setting of new standards in the green technology sector.</p>
</div>

<div class="row">

    <h4><i class="fa fa-square fa-1x" style="color: #73bf45"></i> Mission </h4>

    <p> To continuously develop and implement smart electricity, water and gas solutions.</p>

    <p> To educate and empower people with accurate detailed real time information and control over consumption,
        energy saving, tariffs, billing and revenue collection.</p>
</div>
<hr>

<div class="row">

    <h4><i class="fa fa-square fa-1x" style="color: #73bf45"></i> Vision</h4>

    <p> To be a globally competitive leader in the provision of an end to end utility and energy management
        solution</p></div>
<hr>

<div class="row">
    <h4><i class="fa fa-square fa-1x" style="color: #73bf45"></i> Values </h4>
    <ul>
        <li> Integrity</li>
        <li> Transparent</li>
        <li> Excellence</li>
        <li> Innovative</li>
    </ul>

</div>


