<div class="container">


<div class="col-md-10">

    <div class="row">
        <h2><i class="fa fa-1x fa-user"></i>Board Of Directors</h2>
        <hr>

        <p>INVIROTEL has a permanent staff compliment of fifteen, including a software and support team, a qualified
            lawyer, electrician and electronics
            engineer. The leadership consists of the board of directors, including non-executive directors and the
            executive team. The INVIROTEL staff
            compliment is supported by the Voltex sales force, installation and field teams.</p>
    </div>
<hr>
    <div class="row">

        <div class="col-md-2"><img src="images/about/directors/stan.jpg" alt="..." class="img-thumbnail"></div>
        <div class="col-md-10">

        <h4>Stanley Green</h4>
        <p>Stan is a non-executive Chairman of the company and Managing Director of Voltex. Stan has been with Voltex
            for over 21
            years, holding various roles including Chief Legal Officer. Stan holds a BA LLB qualification from Wits
            University</p></div>
</div>
    <hr>
<div class="row">

    <div class="col-md-2"><img src="images/about/directors/eric.jpg" class="img-thumbnail"></div>
    <div class="col-md-10">
        <h4>Eric Immerman</h4>
    <p>Eric is a chartered accountant who works at Voltex as Finance Director, and provides financial administration support to
        Invirotel. Eric has over 31 years of experience in senior financial management positions.</p></div>
</div>
    <hr>
<div class="row">

    <div class="col-md-2"><img src="images/about/directors/Lance.jpg" class="img-thumbnail"></div>
    <div class="col-md-10">
        <h4>Lance Manala</h4>
    <p>Lance is the Chief Executive Officer of the company and chairman of Maredi Telecoms Group of Companies. Lance is the
        founder of Maredi Telecoms and has held various senior executive and non-executive positions in different companies.
        Lance is entrepreneurial, hands-on and passionate about genuine economic transformation. He holds a NHD (Chemical
        Engineering from Cape Peninsula University of Technology), a Post Graduate Diploma ( Industrial Administration from the
        University of Cape Town) and has attended the Board Leadership Programme (Gordon’s Institute of Business Science).</p></div>
</div>
    <hr>
<div class="row">


    <div class="col-md-2"><img src="images/about/directors/Ayal.jpg" class="img-thumbnail"></div>
    <div class="col-md-10">
        <h4>Ayal Rosenberg</h4>
    <p>Stan is a non-executive Chairman of the company and Managing Director of Voltex. Stan has been with Voltex
        for over 21
        years, holding various roles including Chief Legal Officer. Stan holds a BA LLB qualification from Wits
        University</p></div>
</div>

    <hr>

</div>
    </div>