<div class="row">
    <div class="col-md-3">

        <ul>
            <li>
                <a ui-sref="about.directors">Board Of Directors</a>
            </li>
            <li>
                <a ui-sref="about.what">What We Do</a>
            </li>
            <li>
                <a ui-sref="about.operating">Operating Partners</a>
            </li>
            <li>
                <a ui-sref="about.bbbee">BBBEEE</a>
            </li>
            <li>
                <a ui-sref="about.socio">Socio-Economic Development</a>
            </li>

        </ul>


    </div>
    <div class="col-md-9">
        <div ui-view="about-content" ng-animate="{enter : 'fade-enter'}"></div>
    </div>
</div>

