<div class="row">
    <h2><i class="fa fa-1x fa-wrench"></i>What We Do</h2>
    <hr>
    <p>INVIROTEL's unique value-add is in the software harnessing the data gathering and control abilities of the
        hardware devices.
        The service requires software, hardware and installation elements.</p>

    <h5>INVIROTEL combines smart electricity and water hardware as well as propriety software to provide a
        comprehensive centralized solution for:</h5>
</div>
<hr>
<div class="row">
    <ul>
        <li>Meter Management</li>

        <li>Portfolio Management</li>

        <li>Vending Management</li>

        <li>Billing Management</li>

        <li>Profiling</li>

        <li>Analysis</li>

        <li>Reporting</li>
        <ul>

</div>

<div class="row">


    <p>Invirotel also offers field services by a qualified team for the installation and commissioning of all
        hardware.
        A professional consultancy services is available for further assistance with all the needs of our
        clients.</p></div>


</div>


