</div>
<div class="col-md-9">

    <div class="row">
        <h2>What We Do</h2>

        <p>INVIROTEL's unique value-add is in the software harnessing the data gathering and control abilities of the
            hardware devices.
            The service requires software, hardware and installation elements.</p>

        <p>INVIROTEL combines smart electricity and water hardware as well as propriety software to provide a
            comprehensive centralized solution for:</p>
    </div>

    <div class="row">

        <p>Meter Management</p>

        <p>Portfolio Management</p>

        <p>Vending Management</p>

        <p>Billing Management</p>

        <p>Profiling</p>

        <p>Analysis</p>

        <p>Reporting</p>
    </div>

    <div class="row">


        <p>Invirotel also offers field services by a qualified team for the installation and commissioning of all
            hardware.
            A professional consultancy services is available for further assistance with all the needs of our
            clients.</p></div>


</div>

</div>


</div>