<div class="container" id="tourpackages-carousel">

    <div class="row">
        <h3><i class="fa fa-keyboard-o"></i> Appliance Control Device</h3>
        <hr>

        <div class="col-xs-18 col-sm-6 col-md-5">
            <div class="thumbnail">
                <img src="images/Products/A130R.png" </a>
                <div class="caption">
                    <h4>A130R - Appliance Control Device Single Phase PLC Control Switch</h4>
                    <hr>
                    <ul>
                        <li>Real two-way “A” band Power Line Communication.</li>
                        <li>Remote disconnection/reconnection by command from the control center.</li>
                        <li>Automatic disconnection/reconnection according to shading table sent from the concentrator
                            periodically.
                        </li>
                        <li>Reconnection by command from the CIU (optional).</li>

                    </ul>
                    <hr>
                    <p>
                        <button type="button" ui-sref="images.pdf.A130R.pdf" class="btn btn-primary btn-sm">Download full Spec
                        </button>
                    </p>

                </div>
            </div>
        </div>
    </div>
</div>