<div class="row">

    <div class="col-md-2 col-lg-2  col-xl-2">
        <div class="sidebar-nav">
            <div class="navbar navbar-default" role="navigation">
                <div class="nav-title"><h4>Products</h4></div>
                <ul class="nav">

                    <li><a ui-sref="products.single"><i class="fa fa-1x  fa-minus-square"></i> Single Phase Meters<i class="fa fa-1x   fa-chevron-right
 "></i></a>
                    </li>

                    <li><a ui-sref="products.three"><i class="fa fa-1x  fa-plus-square"></i> Three Phase Meters<i class="fa fa-1x   fa-chevron-right
 "></i></a></li>

                    <li><a ui-sref="products.concentrator"><i class="fa fa-1x  fa-download"></i> Concentrator<i class="fa fa-1x   fa-chevron-right
 "></i></a>
                    </li>

                    <li><a ui-sref="products.appliance"><i class="fa fa-1x fa-keyboard-o"></i> Appliance Control...<i class="fa fa-1x   fa-chevron-right
 "></i></a>
                    </li>

                    <li><a ui-sref="products.display"><i class="fa fa-1x fa-desktop"></i> DCIU<i class="fa fa-1x   fa-chevron-right
 "></i></i>

                    <li><a ui-sref="products.circuit"><i class="fa fa-1x fa-code-fork"></i> Circuit & Appliance.....
                        <i class="fa fa-1x   fa-chevron-right
 "></i></a></li>
                        <hr>

                    <li><a ui-sref="products.water"><i class="fa fa-1x fa-tint"></i> Water Pulse unit<i class="fa fa-1x   fa-chevron-right
 "></i></a></li>

                    <li class="nav-divider"></li>
                        <div class="nav-title"><h4>More</h4></div>
                        <li><a ui-sref="products.water"><i class="fa fa-1x fa-arrow-down"></i> Downloads<i class="fa fa-1x   fa-chevron-right
 "></i></a></li>


                </ul>


            </div>
        </div>
    </div>

    <div class="col-md-9 col-lg-9  col-xl-9">
        <div ui-view="products-content" ng-animate="{enter : 'fade-enter'}"></div>
    </div>

</div>