
    <div class="row">
        <h3 class="m-10"><i class="fa fa-1x fa-laptop"></i> Software/Dashboard</h3>
        <hr>
        </div>

        <div class="row">
            <div class=" col-lg-12 col-md-12 col-sm-12">
                <div class="media-body" style="padding-top: 20px">

                    <p class="m-10">INVIROTEL provides a wealth of tools for analysis, reports, alerts and control to both the Utility and
                        the end-user Customer. Clients can get real time
                        data from a circuit level right up to an entire region or country. Clients can view their consumption
                        and bills in real time and at all times. Internet and all
                        smart mobile devices are supported.


                    </p>

                    <p class="m-10">

                        INVIROTEL is a proudly South African, world-first Internet of Things eco-system for smart energy.
                        INVIROTEL uses a secure, cloud-based, big-data measurement, verification, aggregation, master meter
                        vending, tariff and billing management
                        system.
                    </p>
                </div>




<hr>

        <div class="media">

                <img class="img-responsive" src="../../images/Products/software.jpg" alt="..."
                     style="width: 800px; height: 300px; padding-left: 200px; padding-right: 10px">


        </div>
        </div>
        <div class="col-lg-12 col-md-12 col-sm-12" style="padding-bottom: 50px">



<hr>
            <ul>
            <li class="m-10">
                 Secure - data streams into the system from connected devices according to industry standard security
                protocols.
            </li>

            <li class="m-10">
                 Cloud-based - The system is available through cloud computing, eliminating substantial infrastructural and maintenance costs whilst guaranteeing
                24/7 availability.

            </li>

            <li class="m-10">
                 Big-data - The ability to store and process in real time massive amounts of data is the hallmark of successive modern enterprise systems. Google,
                Facebook, LinkedIn and Twitter are examples of companies that can processes peta-bytes of data in minutes.

            </li>

            <li class="m-10">
                 INVIROTEL uses technologies pioneered by these companies to manage big data.

            </li>

            <li class="m-10">
                 INVIROTEL stores, processes and handles massive amounts of electricity data from any device that measures and monitors utility data and
                especially electricity usage data.

            </li>

            <li class="m-10">
                 INVIROTEL is a platform for virtualizing a utility. Large and small utilities use the platform for all their monitoring, measuring, billing, client-service and
                analysis functions of electricity consumption.

            </li>
            </ul>
        </div>


    </div>

</div>