    <div class="row">
        <h3><i class="fa fa-tint"></i> Water Pulse Unit</h3>
        <hr>
</div>
        <div class="row">
    <div class="col-lg-6 col-md-6 col-sm-6">
            <div class="thumbnail">
                <img src="images/Products/rftu.png"></a>
                <div class="caption">
                    <h4>RFTU - Water Pulse Unit</h4>
                    <hr>
                    <ul>
                        <li>Unlicensed RF communication 433MHZ.</li>
                        <li>Ultra Low Power Consumption.</li>
                        <li>Battery outstanding services life more than 15 years.</li>
                        <li>Stand alone Unit.</li>
                        <li>Extremely small- D X L = 30 X 165 mm.</li>

                    </ul>
                    <hr>
                    <a type="button" href="pdf/RFTU.pdf" class="btn btn-primary btn-sm">Download full Spec
                    </a>

                </div>
            </div>
        </div>
    </div>
