<div class="custom-footer">
    <div class="container">
        <div class="row">
            <div class="col-lg-3">
                <div class="brand" style="padding-top: 50px"><img src="images/header/Logo2.png"></div>
            </div>
            <div class="col-lg-3">
                <div class="widget">
                    <h5 class="widgetheading">Pages</h5>
                    <ul class="link-list">
                        <li><a href="#">About Us</a></li>
                        <li><a href="#">Services</a></li>
                        <li><a href="#">Products</a></li>
                        <li><a href="#">Tools & Resources</a></li>
                        <li><a href="#">Contact us</a></li>
                    </ul>
                </div>
            </div>
            <div class="col-lg-3">
                <div class="widget">
                    <h5 class="widgetheading">External Links</h5>
                    <ul class="link-list">
                        <li><a href="#">Invirotel Dashboard</a></li>
                        <li><a href="#">Pdev</a></li>
                        <li><a href="#">Voltex</a></li>
                    </ul>
                </div>
            </div>
            <div class="col-lg-3">
                <div class="widget">
                    <h5 class="widgetheading">Get in touch with us</h5>
                    <address>
                        <strong>Invirotel</strong><br>
                        Ground Floor ,East Suite Building<br>
                        65 Central Road<br>
                        Houghton
                    </address>
                    <p>
                        <i class="fa fa-phone-square "></i> (+27) 11-7890 - (123) 555-7891 <br>
                        <i class="fa fa-envelope"></i> info@invirohub.com
                    </p>
                  <span>
                    <ul class="social-network" style="padding-left: -30px">
                        <li><a href="#" data-placement="top" title="Facebook"><i class="fa fa-facebook"></i></a></li>
                        <li><a href="#" data-placement="top" title="Twitter"><i class="fa fa-twitter"></i></a></li>
                        <li><a href="#" data-placement="top" title="Linkedin"><i class="fa fa-linkedin"></i></a></li>
                        <li><a href="#" data-placement="top" title="Pinterest"><i class="fa fa-pinterest"></i></a></li>
                        <li><a href="#" data-placement="top" title="Google plus"><i class="fa fa-google-plus"></i></a>
                        </li>
                    </ul>
                  </span>
                </div>
                <div class="clear">
                </div>
            </div>
        </div>
    </div>
    <div id="sub-footer">
        <div class="container">
            <div class="row">
                <div class="col-lg-6">
                    <div class="copyright">
                        <p>
                            <span>&copy; Invirotel 2014 All right reserved.</span>
                        </p>
                    </div>
                </div>
                <div class="col-lg-6">

                </div>
            </div>
        </div>
    </div>
</div>

<a href="#" class="scrollup"><i class="fa fa-angle-up active"></i></a>
