<div class="row">
    <div class="jumbotron">
        div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
        <!-- Indicators -->
        <ol class="carousel-indicators">
            <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
            <li data-target="#carousel-example-generic" data-slide-to="1"></li>
            <li data-target="#carousel-example-generic" data-slide-to="2"></li>
        </ol>

        <!-- Wrapper for slides -->
        <div class="carousel-inner">
            <div class="item active">
                <img src="..." alt="...">
                <div class="carousel-caption">
                    ...
                </div>
            </div>
            ...
        </div>

        <!-- Controls -->
        <a class="left carousel-control" href="#carousel-example-generic" data-slide="prev">
            <span class="glyphicon glyphicon-chevron-left"></span>
        </a>
        <a class="right carousel-control" href="#carousel-example-generic" data-slide="next">
            <span class="glyphicon glyphicon-chevron-right"></span>
        </a>
    </div>
    </div>
</div>

<div class="row" style="margin-left: 20px;margin-right:20px;">

    <div class="col-xs-12 col-sm-6 col-lg-4">
        <div class="box">
            <div class="icon">
                <div class="image"><i class="fa fa-users"></i></div>
                <div class="info">
                    <h3 class="title">About Us</h3>

                    <p>
                        EMS INVIROTEL Energy Management (Pty) Ltd is
                        an integrated smart electricity, water metering and
                        propriety software company. Invirotel provides smart
                        metering, monitoring and evaluation tools for the
                        Public, Private as well as the Mass Residential
                        sectors.
                    </p>

                    <div class="more">
                        <a ui-sref="about.about" title="About Us">
                            Read More <i class="fa fa-angle-double-right"></i>
                        </a>
                    </div>
                </div>
            </div>
            <div class="space"></div>
        </div>
    </div>

    <div class="col-xs-12 col-sm-6 col-lg-4">
        <div class="box">
            <div class="icon">
                <div class="image"><i class="fa fa-cogs"></i></div>
                <div class="info">
                    <h3 class="title">Products</h3>

                    <p>
                        INVIROTEL product range focuses on smart solutions
                        for the electricity and water sectors. INVIROTEL's
                        unique value-add is in the software harnessing the data
                        gathering and control abilities of the hardware devices.
                        The service requires software, hardware and installation
                        elements.
                    </p>

                    <div class="more">
                        <a ui-sref="products.products" title="Title Link">
                            Read More <i class="fa fa-angle-double-right"></i>
                        </a>
                    </div>
                </div>
            </div>
            <div class="space"></div>
        </div>
    </div>

    <div class="col-xs-12 col-sm-6 col-lg-4">
        <div class="box">
            <div class="icon">
                <div class="image"><i class="fa fa-eye"></i></div>
                <div class="info">
                    <h3 class="title">Socio-Economic Development</h3>

                    <p>
                        The Invirotel skills development approach is based
                        on internship programs with FET Colleges in
                        South Africa. Mentorship and training is offered to
                        selected unemployed graduates who join the
                        internship program with Invirotel.
                        <br>
                        <br>
                    </p>

                    <div class="more">
                        <a ui-sref="about.socio" title="Title Link">
                            Read More <i class="fa fa-angle-double-right"></i>
                        </a>
                    </div>
                </div>
            </div>

        </div>
    </div>

</div>
<hr/>

<div class="row">

    <div class="col-lg-4">
        <div class="thumbnail">
            <i class="fa fa-calendar fa-2x"></i><strong>Recent News & Events</strong>
            <hr>
            <div class="list-group">
                <a href="#" class="list-group-item active">
                    Bidvest Business accepts Bitcoin
                </a>
                <a href="#" class="list-group-item">How South Africans Pay for Power</a>
                <a href="#" class="list-group-item">SAEE Expo</a>
                <a href="#" class="list-group-item">Africa Electicity Expo</a>
                <a href="#" class="list-group-item">Vestibulum at eros</a>
                <a href="#" class="list-group-item">Vestibulum at eros</a>
                <a href="#" class="list-group-item">Vestibulum at eros</a>
                <a href="#" class="list-group-item">Vestibulum at eros</a>
                <a href="#" class="list-group-item">Vestibulum at eros</a>
                <a href="#" class="list-group-item">Vestibulum at eros</a>
                <a href="#" class="list-group-item">Vestibulum at eros</a>
            </div>

        </div>


    </div>
    <div class="col-lg-8">


        <div class="row">
            <div class="col-lg-2 col-lg-offset-1">
                <div class="thumbnail">
                <div class="row" style="margin: 5px"><img src="images/main/icons/ami.png" alt=""/></div>
                <div class="row"style="margin: 5px; text-align: center"><h5><strong> AMI</strong></h5></div>
            </div>
                </div>

            <div class="col-lg-2">
                <div class="thumbnail">
                <div class="row" style="margin: 5px"><img src="images/main/icons/vending.png" alt=""/></div>
                <div class="row"style="margin: 5px; text-align: center"><h5><strong> Vending </strong></h5></div>
</div>
            </div>
            <div class="col-lg-2">
                <div class="thumbnail">
                <div class="row" style="margin: 5px"><img src="images/main/icons/profiling.png" alt=""/></div>
                <div class="row"style="margin: 5px; text-align: center"><h5><strong> Profiling</strong> </h5></div>
</div>
            </div>

            <div class="col-lg-2">
                <div class="thumbnail">
                <div class="row" style="margin: 5px"><img src="images/main/icons/field.png" alt=""/></div>
                <div class="row"style="margin: 5px; text-align: center"><h5><strong> Field Services</strong></h5></div>
</div>
            </div>
            <div class="col-lg-2">
                <div class="thumbnail">
                <div class="row" style="margin: 5px"><img src="images/main/icons/consulting.png" alt=""/></div>
                <div class="row"style="margin: 5px; text-align: center"><h5><strong> Consulting Services</strong></h5></div>
</div>
            </div>

        </div>
        <hr/>
        <div class="row" style="margin-left: 20px;margin-right:20px;">
            <div class="col-lg-8">

                <div class="thumbnail">



                    <div class="row">

                        <div class="col-md-5">
                            <i class="fa fa-check fa-2x"></i><strong>Useful</strong>
                            <hr>
                            <div class="row">
                                <div class="col-sm-4">
                                <i class="fa fa-cloud-download fa-2x">Downloads</i> </div>
                            </div>
                            <hr>
                            <div class="row">

                                <div class="col-sm-4">
                                <i class="fa fa-sitemap fa-2x">Distributor </i> </div>

</div>
                        </div>

                        <div class="col-sm-7">
                            <i class="fa fa-camera fa-2x"></i><strong>Gallery</strong>
                            <hr>
<div class="thumbnail">

</div>
                        </div>

                    </div>


                </div>


            </div>

            <div class="col-lg-4"> <div class="thumbnail text-center">
                <h2>Newsletter</h2>

                <p>Subscribe to our weekly Newsletter and stay tuned.</p>

                <form action="" method="post">
                    <div class="input-prepend"><span class="add-on"><i class="icon-envelope"></i></span>
                        <input type="text" id="" name="" placeholder="your@email.com">
                    </div>
                    <br />
                    <input type="submit" value="Subscribe Now!" class="btn btn-large" />
                </form>
            </div>
            </div>
        </div>
        </div>

    </div>


</div>
