<div class="row">
    jumbo
</div>
<div class="row" style="margin-left: 20px;margin-right:20px;">

    <div class="col-xs-12 col-sm-6 col-lg-4">
        <div class="box">
            <div class="icon">
                <div class="image"><i class="fa fa-users"></i></div>
                <div class="info">
                    <h3 class="title">About Us</h3>

                    <p>
                        EMS INVIROTEL Energy Management (Pty) Ltd is
                        an integrated smart electricity, water metering and
                        propriety software company. Invirotel provides smart
                        metering, monitoring and evaluation tools for the
                        Public, Private as well as the Mass Residential
                        sectors.
                    </p>

                    <div class="more">
                        <a ui-sref="about.about" title="About Us">
                            Read More <i class="fa fa-angle-double-right"></i>
                        </a>
                    </div>
                </div>
            </div>
            <div class="space"></div>
        </div>
    </div>

    <div class="col-xs-12 col-sm-6 col-lg-4">
        <div class="box">
            <div class="icon">
                <div class="image"><i class="fa fa-cogs"></i></div>
                <div class="info">
                    <h3 class="title">Products</h3>

                    <p>
                        INVIROTEL product range focuses on smart solutions
                        for the electricity and water sectors. INVIROTEL's
                        unique value-add is in the software harnessing the data
                        gathering and control abilities of the hardware devices.
                        The service requires software, hardware and installation
                        elements.
                    </p>

                    <div class="more">
                        <a ui-sref="products.products" title="Title Link">
                            Read More <i class="fa fa-angle-double-right"></i>
                        </a>
                    </div>
                </div>
            </div>
            <div class="space"></div>
        </div>
    </div>

    <div class="col-xs-12 col-sm-6 col-lg-4">
        <div class="box">
            <div class="icon">
                <div class="image"><i class="fa fa-eye"></i></div>
                <div class="info">
                    <h3 class="title">Socio-Economic Development</h3>

                    <p>
                        The Invirotel skills development approach is based
                        on internship programs with FET Colleges in
                        South Africa. Mentorship and training is offered to
                        selected unemployed graduates who join the
                        internship program with Invirotel.
                        <br>
                        <br>
                    </p>

                    <div class="more">
                        <a ui-sref="about.socio" title="Title Link">
                            Read More <i class="fa fa-angle-double-right"></i>
                        </a>
                    </div>
                </div>
            </div>

        </div>
    </div>

</div>
<hr/>

<div class="row">

    <div class="col-lg-4">
        news
    </div>
    <div class="col-lg-8">


        <div class="row">
            <div class="col-lg-2 col-lg-offset-1">
                <div class="row"><img src="images/main/icons/AMIg.png" alt=""/></div>
                <div class="row"> Automatic Metering Infrastructure</div>
            </div>
            <div class="col-lg-2">Vending, Billing & Tariff Management</div>
            <div class="col-lg-2">Profiling, Reporting & Analysis</div>
            <div class="col-lg-2">Field Services</div>
            <div class="col-lg-2">Consulting Services</div>
        </div>
        <hr/>
        <div class="row">
            <div class="col-lg-8">Gallery</div>
            <div class="col-lg-4">subscribe</div>
        </div>

    </div>


</div>
